{% extends "slides/base.html" %}
{% load staticfiles %}

{% block headextra %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/react/15.0.1/react.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/react/15.0.1/react-dom.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/babel-core/5.8.23/browser.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/marked/0.3.5/marked.min.js"></script>
<script>
var slide_pk = {% filter escapejs %}{{ slide.pk }}{% endfilter %};
var slide_api_url = "{% filter escapejs %}{% url 'slide-detail' pk=slide.pk %}{% endfilter %}";
var annotation_api_url = "{% filter escapejs %}{% url 'annotation-list' slide_pk=slide.pk %}{% endfilter %}";
var csrf_token = "{{ csrf_token|escapejs }}";
var presenter = true;
</script>
{% endblock %}

{% block title %}{{ deck.course.name }}: {{ deck.name }}{% endblock %}

{% block content %}
<main id="slide-container"></main>
<script type="text/babel" src="{% static 'react-logic.js' %}"></script>
{% endblock %}
