{% extends "slides/base.html" %}
{% load staticfiles %}
{% load compress %}

{% block headextra %}
<script>
var slide_pk = "{{ slide.pk|escapejs }}";
var csrf_token = "{{ csrf_token|escapejs }}";
var presenter = false;
</script>
{% endblock %}

{% block title %}{{ deck.course.name }}: {{ deck.name }}{% endblock %}

{% block content %}
<main id="slide-container"></main>

{% compress js %}
<script src="{% static 'jquery/dist/jquery.min.js' %}"></script>
<script src="{% static 'react/dist/react.min.js' %}"></script>
<script src="{% static 'react-dom/dist/react-dom.min.js' %}"></script>
<script src="{% static 'config.js' %}"></script>
{% endcompress %}
{% compress js %}
<!--script type="text/jsx" src="{% static 'react-logic.js' %}"></script-->
{% endcompress %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/babel-core/5.8.23/browser.min.js"></script>
<script type="text/babel" src="{% static 'react-logic.js' %}"></script>

{% endblock %}
